{# app/Resources/views/menu_front.html.twig #}
<div id="menu-3f">
    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">
                    <div class="navbar-brand">
                        <a href="/" class="navbar-logo">
                            <img src="{{ asset('assets/images/logo-rectangle-185x128.png')}}" alt="Flash Nature"/>
                        </a>
                        <a class="navbar-caption" href="/"></a>
                    </div>
                </div>

                <div class="mbr-table-cell">

                    <div class="navbar-toggler pull-xs-right hidden-md-up" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </div>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">

                        <li class="nav-item">
                            <a class="nav-link link" href="/">Accueil</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link link" href="{{ path('fn_front_inscription') }}">L'application</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link link dropdown-toggle" href="" data-toggle="dropdown-submenu" aria-expanded="false">Espace Naturaliste</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('fn_participer_envoi_obs') }}">Envoi d'observation</a>
                                {% if is_granted('ROLE_NATURALISTE') %}
                                    <a class="dropdown-item" href="{{ path('fn_participer_obs_attente') }}">Observations en attente</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('fn_participer_carte_obs') }}">Carte des observations</a>
                                {% if is_granted('ROLE_NATURALISTE') %}
                                    <a class="dropdown-item" href="{{ path('fn_participer_bdd') }}">Extraction des données</a>
                                {% endif %}
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link link dropdown-toggle" href="" data-toggle="dropdown-submenu" aria-expanded="false">Infos pratiques</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('fn_front_kit') }}">Kit Observation</a>
                                <a class="dropdown-item" href="{{ path('fn_front_about') }}">Qui sommes nous ?</a>
                                <a class="dropdown-item" href="{{ path('fn_front_contact') }}">Contact</a>
                            </div>
                        </li>

                        {% if app.user == null %}
                            <li class="nav-item nav-btn">
                                <a class="nav-link btn btn-secondary-outline btn-secondary" href="{{ path('fn_front_connexion') }}">Se connecter</a>
                            </li>
                            <li class="nav-item nav-btn">
                                <a class="nav-link btn btn-secondary-outline btn-secondary" href="{{ path('fn_front_inscription')}}">S'inscrire</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link link" href="{{ path('fn_participer_profil') }}">Mon compte</a>
                            </li>
                            <li class="nav-item nav-btn">
                                <span>{{ app.user.pseudo }} </span>
                                <a class="nav-link link boutonlogout" href="{{ path('logout') }}">
                                    <img src=" {{ asset('assets/fnat/icon/bouton_deconnexion.png') }}" id="boutonLogOut" />
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div hidden="" class="navbar-toggler navbar-close" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</div>
