{# app/Resources/views/forms/_autocomplete_form.html.twig #}
<section class="mbr-section" id="form2-55" style="background-color: rgb(105, 176, 171); padding-top: 20px; padding-bottom: 40px;">
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">

                {{ form_start(form) }}

                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                    <div class="mbr-subscribe input-group">
                        {{ form_errors(form.espece) }}
                        {{ form_widget(form.especeTxt, {'attr': {
                            'class': 'mbr-form',
                            'placeholder': 'Saisir le nom de l\'espèce',
                            'data-id': 'especeId',
                            'data-url': path('fn_participer_autocomplete')
                        }
                        }

                        )}}
                        {{ form_widget(form.espece, {'attr': {
                            'class': 'mbr-form',
                            'placeholder': 'Nom de l espèce',
                            'hidden':'hidden',
                            'value':''
                        } }
                        )
                        }}

                        <span class="input-group-btn">
                            {{ form_widget(form.rechercher,{'attr':{
                                'class': 'btn btn-info',
                                'id':'drop'
                            }}
                            )
                            }}
                        </span>

                    </div>
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</section>
