{{ form_start(form) }}
    {% for message in app.flashes('notice') %}
        <div class="btn-success">
            {{ message }}
        </div>
        <br />
    {% endfor %}

    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

        <div class="col-xs-12">
            {{ form_errors(form.espece) }}
            {{ form_widget(form.espece, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l espèce'}}) }}
        </div>

        <div class="col-xs-12">
            {{ form_errors(form.latitude) }}
            {{ form_widget(form.latitude, {'attr': {'class': 'form-control', 'placeholder': 'Latitude'}}) }}
        </div>

        <div class="col-xs-12">
            {{ form_errors(form.longitude) }}
            {{ form_widget(form.longitude, {'attr': {'class': 'form-control', 'placeholder': 'Longitude'}}) }}
        </div>

        <div class="col-xs-12">
            {{ form_errors(form.dobs) }}
            {{ form_widget(form.dobs, {'attr': {'class': 'form-control', 'placeholder': 'Date de l observation'}}) }}
        </div>

        <div class="col-xs-12">
            {{ form_errors(form.comm_obs) }}
            {{ form_widget(form.comm_obs, {'attr': {'class': 'form-control', 'placeholder': 'Informations complémentaires'}}) }}
        </div>


        <div class="col-xs-12">
            {{ form_widget (form.file,{ 'attr': { 'class': 'form-control','placeholder': 'Carte professionnelle'} }) }}
            {% if form_errors(form.file)  %}
                <div class="alert alert-danger">{{ form_errors(form.file) }}</div>
            {% endif %}
        </div>

        <br>

        <div class="col-xs-12" style="margin-top: 10px; text-align: center">
            <button type="submit" class="btn btn-white">
                Envoyer
            </button>
        </div>
{{ form_rest(form) }}
{{ form_end(form) }}