{# app/Resources/views/forms/_modif_observation_form.html.twig #}
 {{ form_start(form) }}
    {{ form_errors(form.espece) }}
    {{ form_widget(form.especeTxt, {'attr': {
        'class': 'form-control',
        'placeholder': 'Nom de l espèce',
        'data-id': 'especeId',
        'data-url': path('fn_participer_autocomplete'),
        'value': observation.espece.lbNom
    }
    }
    )}}

    <br>

    {{ form_widget(form.espece, {'attr': {
        'class': 'form-control',
        'placeholder': 'Nom de l espèce',
        'hidden':'hidden',
        'value': observation.espece.id
    } }
    )
    }}

    <strong>Laissez un message à l'observateur: </strong>
    {{ form_errors(form.comm_nat) }}
    {{ form_widget(form.comm_nat, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}

    <div class="col-xs-12" style="padding-top: 10px; padding-bottom: 0">
        <div class="text-xs-center">
            {{ form_widget(form.valider,{'attr':{ 'class': 'btn btn-success' }} ) }}

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#supprimer">Supprimer</button>
        </div>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}

