{# app/Resources/views/tales/_observation_valide_html.twig #}
<section class="mbr-section extTable1" id="extTable1-2u" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="container">
        <h3 class="mbr-section-title display-2">
            Observations validées
        </h3>
    </div>

    <div class="container table-wrapper" >
        <table class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>Observation prise par</th>
                <th>Validé par</th>
                <th>Espèces observées</th>
                <th>Fiches</th>
            </tr>
            </thead>
            <tbody>
            {% for observation in obsTable %}
                {% if observation.statut == 'STATUT_VALIDE' %}
                    <tr>
                        <td>{{ observation.dObs|date('d/m/Y') }}</td>
                        <td>{{ observation.observateur.pseudo }}</td>
                        <td>{{ observation.naturaliste.pseudo }}</td>
                        <td>{{ observation.espece.lbNom }} <br>
                            {% if observation.espece.nomVern != null %}
                                {{ observation.espece.nomVern }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('fn_fiche_observation', {slug: observation.id}) }}">Voir la fiche {{ observation.id }}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>