{# app/Resources/views/front/contact.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid" id="cntc">
        <div class="col-xs-12 ">
            <h1>Contact</h1>
            <p>Pour nous contacter, merci de remplir le formulaire ci-dessous : </p>
        </div>
        {# Formulaire de contact #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="cntc-form">
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {% for message in app.flashes('notice') %}
                    <div class="btn-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="error">
                    {{ form_errors(form) }}
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.prenom, "Prénom :", {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {{ form_errors(form.prenom) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.mail, "Votre mail :", {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {{ form_errors(form.mail) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="col-xs-12 col-md-5">
                        {{ form_label(form.titre, "Sujet du message :", {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-7">
                        {{ form_errors(form.titre) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.message, "Votre message :", {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {{ form_errors(form.message) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-12">
                        <span id="charcount">0</span>/2500
                    </div>

                    <div class="col-xs-2 col-xs-offset-8">
                        {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {# /Formulaire de contact #}
        {# Data #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 txt-blue" id="cntct-data" >
            <p class="center">NAO est une association loi 1901 créée en 2014 par Monsieur Dujardin, pasionné d’ornithologie. (<a href="/quisommesnous" >en savoir +</a>)</p>

            <p class="center">Adresse : 7 Cité Paradis 75 010 Paris</p>

            <p class="center">Téléphone : 01 40 00 00 00</p>

            <div id="cntct-soutenir" class="bg-blue">
                <h3>Protéger les oiseaux en soutenant NAO</h3>

                <p>Télécharger et remplissez le formulaire dʼinscription ci-dessous</p>

                <div id="cntct-fiche">
                    <a href="#">Télécharger la fiche adhésion</a>
                </div>

            </div>
        </div>
        {# /Data #}
        {# sociaux #}
        <div class="col-xs-12 txt-blue">
            <h3>Suivez notre actualité</h3>
            <div id="cntct-reseaux-sociaux">
                <a href="https://www.facebook.com/FlashNatureNAO/ ">
                    <img class="icon" alt="icone facebook" src="{{ asset('bundles/AppBundle/ico/logog%20fb.jpeg') }}" />
                </a>
                <a href="https://www.instagram.com/Flash_Nature_par_NAO/">
                    <img class="icon" alt="icone instagram" src="{{ asset('bundles/AppBundle/ico/instagram.jpeg') }}" />
                </a>
            </div>
        </div>
        {# /sociaux #}
    </div>


{% endblock body %}
{% block javascripts %}
<script>
document.getElementById('contact_message').onkeyup= function(e)
{
    var nbr = document.getElementById('charcount');
    if ((this.value.length < 250) || (this.value.length > 2500))
    {
        document.getElementById('charcount').className = "bg-danger";
    }else
    {
        document.getElementById('charcount').className = "bg-success";
    }
    document.getElementById('charcount').innerHTML=this.value.length;
};
</script>
{% endblock javascripts %}