{% extends "base.html.twig" %}

{% block body %}
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% for message in app.flashes('notice') %}
            <div class="btn-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="error">
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-md-2">
                {{ form_label(form.prenom, "Prénom :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-xs-12 col-md-10">
            {{ form_errors(form.prenom) }}
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-xs-12 col-md-2">
                {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-xs-12 col-md-10">
                {{ form_errors(form.nom) }}
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-xs-12 col-md-2">
                {{ form_label(form.mail, "Votre mail :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-xs-12 col-md-10">
                {{ form_errors(form.mail) }}
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-xs-12 col-md-2">
                {{ form_label(form.titre, "Sujet du message :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-xs-12 col-md-10">
                {{ form_errors(form.titre) }}
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-xs-12 col-md-2">
                {{ form_label(form.message, "Votre message :", {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-xs-12 col-md-10">
                {{ form_errors(form.message) }}
            </div>
            <div class="col-xs-12">
                {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-12">
                <span id="charcount">0</span>/2500
            </div>

            <div class="col-xs-2 col-xs-offset-8">
                {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
        </div>
    </div>

{% endblock body %}
{% block javascripts %}
<script>
document.getElementById('contact_message').onkeyup= function(e)
{
    var nbr = document.getElementById('charcount');
    if ((this.value.length < 250) || (this.value.length > 2500))
    {
        document.getElementById('charcount').className = "bg-danger";
    }else
    {
        document.getElementById('charcount').className = "bg-success";
    }
    document.getElementById('charcount').innerHTML=this.value.length;
};
</script>
{% endblock javascripts %}