<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% for message in app.flashes('notice') %}
        <div class="btn-success">
            {{ message }}
        </div>
        <br />
    {% endfor %}
    {% if form_errors(form) != null %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
    {% endif %}



    {# Formulaire de contact #}
    <form action="" method="post" data-form-title="Laisser nous votre message">
        {% include("messagesValidation.html.twig") %}
        <div class="col-xs-6">
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prénom'}}) }}
        </div>

        <div class="col-xs-6" style="padding-left: 15px">
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}
        </div>

        <div class="col-xs-12">
            {{ form_errors(form.mail) }}
            {{ form_widget(form.mail, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}}) }}
        </div>

        <div class="col-xs-12">
            {{ form_errors(form.titre) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Sujet du message'}}) }}
        </div>

        <div class="col-xs-12">
            <div class="bg-error">{{ form_errors(form.message) }}</div>
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message', 'rows':'3', 'style':'resize:none'}}) }}
        </div>
        <div class="col-xs-12">
            Minimum 250 caractères. <span id="contact_charcount">0</span>/250
        </div>

        <div class="col-xs-12 buttons_wrap" style="margin-top: 10px;">
            {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-secondary'}}) }}
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </form>
</div>
