{# app/Resources/views/forms/_newsletter_form.html.twig #}

<!--  formulaire abonnement newsletter -->

<section class="mbr-section" id="form2-52" style="background-color: rgb(187, 103, 104); padding-top: 40px; padding-bottom: 40px;">

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">

                    <h3 class="mbr-section-title display-2">
                        Recevez notre actualité
                    </h3>

                    <small class="mbr-section-subtitle">
                        Inscrivez-vous à la newsletter
                    </small>
                </div>

            </div>
        </div>
    </div>

    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                    <a name="news"></a>
                    {{ form_start(formn, {'attr': {'class': 'mbr-form'}}) }}
                    {% for message in app.flashes('noticenews') %}
                        <div class="btn-success">
                            {{ message }}
                        </div>
                        <br />
                    {% endfor %}
                        <div class="mbr-subscribe mbr-subscribe-dark input-group">
                            {{ form_errors(formn.mail) }}
                            {{ form_widget(formn.mail, {'attr': {'class': 'form-control', 'placeholder': 'Saisir votre adresse mail'}}) }}

                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-white">
                                    S'inscrire
                                </button>
                            </span>
                        </div>

                    {{ form_rest(formn) }}
                    {{ form_end(formn) }}
                </div>
            </div>
        </div>
    </div>
</section>
