{{ form_start(form) }}
    {% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
    {% endif %}
    <div class="col-xs-12">
        {{ form_errors(form.mail) }}
        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="col-xs-12">

        {{ form_widget (form.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'Mot de passe'}}) }}
        {% if form_errors(form.plainPassword.first)  %}
            <div class="alert alert-danger">{{ form_errors(form.plainPassword.first) }}</div>
        {% endif %}
    </div>

    <div class="col-xs-12">

        {{ form_widget (form.plainPassword.second, { 'attr': { 'class': 'form-control','placeholder': 'Vérification'} }) }}
        {% if form_errors(form.plainPassword.second)  %}
            <div class="alert alert-danger">{{ form_errors(form.plainPassword.second) }}</div>
        {% endif %}
    </div>

    <br>

    <div class="col-xs-12" style="margin-top: 10px; text-align: center">
        <button type="submit" class="btn btn-white">
            Je m'inscris
        </button>
    </div>

    <div class="mbr-section-lead lead">
        Déjà membre ?
        <p>
            Connectez-vous en
            <a href="/connexion">
                cliquant ici
            </a>
        </p>

    </div>
{{ form_rest(form) }}
{{ form_end(form) }}