<<<<<<< HEAD
{# app/Resources/views/front/accueil.html.twig #}

{% extends "base.html.twig" %}
=======
{% extends "base_front.html.twig" %}
>>>>>>> Sylvain

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}

<!--  Banner -->
    <section class="mbr-section mbr-after-navbar" id="msg-box5-6" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">

                    <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">

                        <h3 class="mbr-section-title display-2">
                            Découvrez Flash Nature
                        </h3>

                        <div class="lead">
                            <p>Une application au service de la préservation des oiseaux</p>
                        </div>

                        <div>
                            <a class="btn btn-info" href="/inscription-naturaliste">
                                Je suis Naturaliste
                            </a>
                            <a class="btn btn-info" href="inscription-observateur">
                                Je suis un particulier
                            </a>
                        </div>

                    </div>

                    <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 70%;">
                        <div class="mbr-figure">
                            <img src="{{ asset('assets/images/06-oiseaux-bis-1400x965.jpg') }}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

<!--  kit observation -->
    <section class="mbr-section article" id="msg-box3-t" style="background-color: rgb(61, 185, 176); padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h3 class="mbr-section-title display-2">
                        Kit observation
                    </h3>

                    <div class="lead">
                        <p>
                        <span style="font-size: 1.07rem; line-height: 1.5;">
                            Obtenez le kit complet et gratuit composé de fiches conseils sur l'univers des oiseaux
                        </span>
                        </p>
                    </div>

                    <div>
                        <a class="btn btn-white" href="/kit-observation">
                            En savoir +
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

<!--  Observations  -->
    <section class="mbr-section" id="msg-box5-8" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">
                    <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                        <h3 class="mbr-section-title display-2">
                            Les dernières observations publiées
                        </h3>

                        <div class="lead">

                        </div>

                        <div>
                            <a class="btn btn-info" href="/participer/carte-des-observations">
                                Voir
                            </a>
                        </div>

                    </div>

                    <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 51%;">
                        <div class="mbr-figure">
                            <img src="{{ asset('assets/images/naturaliste-jumelle-visuel-1400x1400.png') }}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

<!--  nao  -->
    <section class="mbr-section article" id="msg-box3-7" style="background-color: rgb(105, 176, 171); padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h3 class="mbr-section-title display-2">
                        Association <br>
                        « Nos Amis les Oiseaux » <br>
                        (NAO)
                    </h3>

                    <div class="lead">
                    <span style="color: rgb(255, 255, 255); font-size: 1.07rem; line-height: 1.5;">
                        NAO est une association loi 1901 créée en 2014 par Monsieur Dujardin, pasionné d’ornithologie.
                    </span>
                    </div>

                    <div>
                        <a class="btn btn-white" href="/qui-sommes-nous">
                            En savoir +
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {{ include('front/blocks/_follow.html.twig') }}

    {{ include ('front/blocks/_adresse.html.twig') }}

{% endblock body %}
