{# app/Resources/views/blocks/_info_observation.html.twig #}
<section class="mbr-section" id="msg-box6-5l" style="background-color: rgb(105, 176, 171); padding-top: 0; padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

                <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">

                    <div class="lead">
                        <h4 class="text-white">Informations sur l'observation</h4>
                        <strong>Date: </strong> {{ observation.dobs|date('d/m/Y') }}
                        <br>
                        <strong>Espèce observée: </strong> {{ observation.espece.lbNom }}
                        <br>
                        <strong>Latitude / Longitude : </strong> {{ observation.latitude }} / {{ observation.longitude }}
                        <br>
                        <strong>Message de l'observateur: </strong>
                        {{ observation.commObs }}

                        <br>
                    </div>

                    <br>

                    <div class="lead">
                        <h5 class="text-white">Informations complémentaires</h5>
                        <strong> Statut : </strong> <br>
                        {% if observation.statut == 'STATUT_VALIDE' %}
                            <strong>Observation validée par: </strong> {{ observation.observateur.pseudo }}
                            <br>
                            <strong>Observation validée le: </strong>  {{ observation.dvalid|date('d/m/Y') }}
                            <br>
                            <strong>Commentaire naturaliste: </strong>
                            {{ observation.commNat|default("") }}
                            <br>
                        {% else %}
                            Observation en attente de validation
                            <br>
                        {% endif %}

                        <br>
                        <h5 class="text-white">Informations TAXREF</h5>
                        <strong>Nom vernaculaire: </strong>
                                {{ observation.espece.nomVern|default("") }}
                        <br>
                        <strong>Nom vernaculaire anglais: </strong>
                                {{ observation.espece.nomVernEng|default("")}}
                        <br>
                        <strong>Ordre / Famille:</strong>
                            {{ observation.espece.ordre|default("") }}
                        /
                            {{ observation.espece.famille|default("") }}
                        <br><br>
                        <strong>Habitat:</strong>
                            {{ observation.espece.habitat.lbHabitat|default("") }}
                        <br>
                            {{ observation.espece.habitat.rmHabitat|default("")}}
                        <br><br>
                        <strong>Référence:</strong>
                            <a href="{{ observation.espece.url|default("") }}" class="text-white">{{ observation.espece.url|default("") }}</a>
                        <br>
                        <strong>Auteur:</strong>
                            {{ observation.espece.lbauteur|default("") }}

                    </div>

                    <!--  Formulaire de modification -->
                    {% if is_granted('ROLE_NATURALISTE') %}
                        {% if observation.statut == 'STATUT_EN_ATTENTE'%}
                            {{ include('participer/forms/_modif_observation_form.html.twig') }}
                        {% endif %}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</section>





