{# app/Resources/views/front/accueil.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Envoi Observation - {{ parent() }}
{% endblock %}

{% block body %}

    <section class="mbr-section mbr-after-navbar" id="content5-34" style="background-color: rgb(105, 176, 171); padding-top: 120px; padding-bottom: 0px;">
        <div class="container">
            <h3 class="mbr-section-title display-2">
                Participer
            </h3>
            <div class="lead">
                <p>Grâce au formulaire ci-dessous, vous pouvez nous envoyer votre observations sur le terrain.</p>
                <p>Ce formulaire est strictement réservé aux observations concernant les oiseaux.</p>
                <p>Merci de remplir un formulaire pour chaque spécimen aperçu.</p>
            </div>
        </div>
    </section>

    <section class="mbr-section-no-padding extForm4" id="extForm4-35" style="background-color: rgb(255, 255, 255);">
        <div class="mbr-table mbr-table-full">
            <div class="mbr-table-cell">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mbr-table-md-up">
                            <div class="mbr-table-cell col-md-6 text-xs-center text-md-left inverse">
                                <div class="wrapper">
                                    <h2 class="display-2 h-black">
                                        Formulaire <br>
                                        envoi observation
                                    </h2>

                                    <div class="row text-center">
                                        <div class="col-md-12 parentInverse">
                                            <div class="col-md-12 col-lg-12 inverse-content">
                                                <div class="intro-box right">
                                                    <div class="contentInverse">
                                                        <h5 class="subtitle">
                                                            Si vous nʼêtes pas certain du nom de lʼespèce, joindre une photo facilitera la validation par un naturaliste
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">

                                        {{ include('participer/forms/_envoi_observation_form.html.twig') }}

                                    </div>
                                </div>
                            </div>

                            <div class="mbr-table mbr-valign-top col-md-6">
                                <div class="mbr-map">
                                    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJSZ296Zx_6EcRVNaCoS8yigk" allowfullscreen="">
                                    </iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('front/blocks/_follow.html.twig') }}

    {{ include('front/blocks/_adresse.html.twig') }}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script>
    $("input[data-id=especeId]").autocomplete({

        source: function (request, response) {
            var recherche = $("input[data-id=especeId]").val();
            var objData = 'search=' + recherche;
            var url = $(this.element).attr('data-url');
            console.log(recherche);
            console.log(objData);
            console.log(url);
            $.ajax({
                url: url,
                dataType: "json",
                data : objData,
                type: 'POST',
                success: function (data) {
                    response($.map(data, function (data) {
                        return data.lbNom + "\n\r " + data.nomVern + "\n\r" + data.nomVern;
                        }));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("jqXHR => ");
                    console.log( jqXHR.toString() );
                    console.log(textStatus, errorThrown);
                }
            });
        },
        minLength : 3
    })
    </script>
{% endblock javascripts %}
