{# app/Resources/views/front/fiche_observationhtml.twig #}

{% extends "participer/observation_base.html.twig" %}

{% block title %}
    Fiche {{ observation.id }} - {{ parent() }}
{% endblock %}

{% block body %}


    <section class="mbr-section mbr-after-navbar" style="background-color: rgb(105, 176, 171); padding-top: 120px; padding-bottom: 0;">
        <div class="container">
            <h1 class="mbr-section-title text-white">Fiche observation n° {{ observation.id }}</h1>
        </div>

        {{ include('participer/blocks/_carte_fiche.html.twig') }}
    </section>

    <!--  Blocks -->
    {{ include('front/blocks/_follow.html.twig') }}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <!-- google maps -->
    <script src="{{ asset('assets/fnat/js/googlemaps_carte_observation.js') }}" ></script>

{% endblock javascripts %}

