{# app/Resources/views/front/carte-des-observations.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Modification fiche {{ observation[0].id }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/fnat/css/autocomplete.css') }}" />

    <style>
        #carteObservationMap {
            height: 100%;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <section class="mbr-section" id="msg-box6-5l" style="background-color: rgb(105, 176, 171); padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">

                    <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 36%;">
                        <div class="mbr-figure">
                            <img src="{{asset('assets/fnat/observations/' ~ observation[0].photo ~ '')}}">
                        </div>
                    </div>

                    <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                        <br>
                        <h3 class="mbr-section-title display-2">Observation à valider</h3>
                        <div class="lead">
                            <h4 class="text-white">Informations sur l'observation</h4>
                            <strong>Date: </strong> {{ observation[0].dobs|date('d/m/Y') }}
                            <br>
                            <strong>Observation prise par: </strong> {{ observation[0].observateur.mail }}
                            <br>
                        </div>

                        <br>

                        <div class="lead">
                            <h4 class="text-white">Espèce observée</h4>
                            <strong>Nom: </strong> {{ observation[0].espece.lbNom }}
                            <br>
                            <strong>Nom vernaculaire: </strong> {{ observation[0].espece.nomVern }}
                            <br>
                            <strong>Nom vernaculaire anglais: </strong> {{ observation[0].espece.nomVernEng }}
                            <br>
                            <strong>Ordre / Famille:</strong> {{ observation[0].espece.ordre }} / {{ observation[0].espece.famille}}
                            <br>
                            <strong>Habitat:</strong> {{ observation[0].espece.habitat.lbHabitat}} <br>
                            {{ observation[0].espece.habitat.rmHabitat}}

                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% if observation[0].statut != 'STATUT_VALIDE' %}

        <div class="mbr-section mbr-section-nopadding">
            <div class="container">
                <div class="row">
                    {{ form_start(form) }}
                    {% for message in app.flashes('notice') %}
                        <div class="btn-success">
                            {{ message }}
                        </div>
                        <br />
                    {% endfor %}

                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                        <div class="mbr-subscribe mbr-subscribe-dark input-group">
                            {{ form_errors(form.espece) }}
                            {{ form_widget(form.especeTxt, {'attr': {
                                'class': 'mbr-form',
                                'placeholder': 'Nom de l espèce',
                                'data-id': 'especeId',
                                'data-url': path('fn_participer_autocomplete')
                            }
                            }

                            )}}
                            {{ form_widget(form.espece, {'attr': {
                                'class': 'mbr-form',
                                'placeholder': 'Nom de l espèce',
                                'hidden':'hidden',
                                'value':''
                            } }
                            )
                            }}

                            <span class="input-group-btn">
                            {{ form_widget(form.modifier,{'attr':{ 'class': 'btn btn-info' }} ) }}
                            </span>
                        </div>
                    </div>

                    <div class="col-md-8 col-md-offset-2 text-xs-center" style="padding-top: 10px">
                        <form action="{{ path('fn_fiche_valider', {slug: observation[0].id}) }}" method="post">
                            <a class="btn btn-success" href="{{ path('fn_fiche_valider', {slug: observation[0].id}) }}"> Valider </a>
                            {# Ceci va générer le champ CSRF #}
                        </form>
                        <form action="{{ path('fn_fiche_valider', {slug: observation[0].id}) }}" method="post">
                            <a class="btn btn-danger" href="{{ path('fn_fiche_supprimer', {slug: observation[0].id}) }}"> supprimer </a>
                            {# Ceci va générer le champ CSRF #}
                        </form>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>



        {% endif %}

    </section>

    <!--  Carte -->

    <section class="mbr-section mbr-section__container" id="map2-2x" style="background-color: rgb(105, 176, 171); padding-top: 60px; padding-bottom: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mbr-map">
                        <div id="carteObservationMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('front/blocks/_follow.html.twig') }}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <!-- autocomplete -->
    <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous">
    </script>

    <script src="{{ asset('assets/fnat/js/autocomplete.js') }}"></script>

    <!-- google maps -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5YJYXmsfrbjwd_Cob43o19-4a3HbZYbc&callback=initMap">
    </script>
    <script src="{{ asset('assets/fnat/js/googlemaps_carte_observation.js') }}" ></script>

{% endblock javascripts %}