{# app/Resources/views/front/mon-compte.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Mon compte - {{ parent() }}
{% endblock %}


{% block body %}

<!--  Infos perso -->
    <section class="mbr-section mbr-after-navbar" id="msg-box6-5o" style="background-color: rgb(105, 176, 171); padding-top: 160px; padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">

                    <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 36%;">
                        <div class="mbr-figure">
                            <img id="p-mp-img-avatar" alt="{{ avatar }}" src="{{ asset('assets/fnat/avatar/' ~ avatar ~ '' ) }}">
                        </div>
                    </div>

                    <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                        <h3 class="mbr-section-title display-2">
                            Votre profil
                        </h3>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section" id="content5-5w" style="background-color: rgb(105, 176, 171); padding-top: 40px; padding-bottom: 0;">
        <div class="container">
            <h3 class="mbr-section-title display-2">
                Vos infomations personnelles
            </h3>
        </div>
    </section>

    <section class="mbr-section article mbr-section__container" id="content1-5q" style="background-color: rgb(105, 176, 171); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 lead">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="form-group">
                        <div class="col-sm-12 col-md-3">
                            <label for="p-mp-dcree" class="control-label lbl-modify">Date d'inscription :</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <input  id="p-mp-dcree" name="p-mp-dcree" type="text" class="form-control field-no-deco" value="{{ app.user.dcree|date("d/m/Y") }}"  disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-3">
                            <label for="user_mail" class="control-label lbl-modify">Mail :</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <input id="user_mail" type="text" class="form-control field-no-deco" value="{{ app.user.mail }}" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <label for="user_ddn" class="control-label lbl-modify">Date de naissance :</label>
                        </div>
                        {% if app.user.ddn != null %}
                            <div class="col-sm-12 col-md-8 col-lg-9">{{ form_widget(form.ddn, {'attr': {'class': 'field-no-deco', 'placeholder': app.user.ddn|date("d/m/Y") } } ) }}</div>
                        {% else %}
                            <div class="col-sm-12 col-md-8 col-lg-9">{{ form_widget(form.ddn, {'attr': {'class': 'field-no-deco', 'placeholder': '' } } ) }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-3">
                            <label for="user_prenom" class="control-label lbl-modify">Prénom :</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {{ form_widget(form.prenom, {'attr': {'class': 'field-no-deco', 'placeholder': app.user.prenom  }} ) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-3">
                            <label for="user_nom" class="control-label lbl-modify">Nom :</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {{ form_widget(form.nom, {'attr': {'class': 'field-no-deco', 'placeholder': app.user.nom  }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-3">
                            <label for="user_codePostal" class="control-label lbl-modify">Code Postal :</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {{ form_widget(form.codePostal, {'attr': {'class': 'field-no-deco', 'placeholder': app.user.codepostal  }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-3">
                            <label id="lblavatar" for="user_photo" class="control-label lbl-no-deco">Avatar :</label>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {{ form_widget(form.photo, {'attr': {'class': 'field-fnat-hidden', 'placeholder': app.user.photo, 'onchange': 'javascript:changeAvatar()'  }}) }}
                        </div>
                    </div>

                    <div class="form-group">&nbsp;</div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-4 col-md-offset-2 ">
                            <input type="button"  id="maj_profil" class="btn btn-primary" onclick="switchForm()" value="Mettre à jour le profil" />
                        </div>
                        <div class="col-sm-12 col-md-4 col-md-offset-2 ">
                            {{ form_widget(form.update, {'attr': {'class': 'btn btn-default btn-no-deco', 'value': 'Sauvegarder', 'label': 'Sauvegarder'}}) }}
                        </div>


                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section article mbr-section__container" id="content1-5s" style="background-color: rgb(105, 176, 171); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 lead">
                    <p>En complétant votre profil, vous permettez à NAO de mieux connaître ses utilisateurs et améliorer l'expérience d'utilisation de l'application Flash Nature.</p>

                </div>
            </div>
        </div>
    </section>


<!--  Observations  -->
    <section class="mbr-section" id="content5-5v" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0;">
        <div class="container">
            <h3 class="mbr-section-title display-2 text-black ">
                Vos observations
            </h3>
        </div>
    </section>

    <section class="mbr-section extTable1" id="extTable1-5u" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">
        <div class="container table-wrapper" data-search="false" >
            <table class="table" cellspacing="0" width="100%">
                Date Espèce User Localisation Photo Votre commentaire	Statut
            </table>
        </div>
    </section>

    <section class="mbr-section mbr-section__container" id="buttons1-5x" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-xs-center">
                        <a class="btn btn-info" href="/participer/envoi-observation">
                            Envoyer une observation
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {{ include('front/blocks/_follow.html.twig') }}

    {{ include ('front/blocks/_adresse.html.twig') }}

{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function switchForm(){
            var $modifier = document.getElementById("maj_profil");
            var $cp = document.getElementById("user_codePostal");
            var $ddn = document.getElementById("user_ddn");
            var $nom = document.getElementById("user_nom");
            var $prenom = document.getElementById("user_prenom");
            var $envoyer = document.getElementById("user_update");
            var $avatar = document.getElementById("user_photo");
            var $lblavatar = document.getElementById("lblavatar");

            if($modifier.value === "annuler les modifications"){

                $cp.className = "form-control field-no-deco";
                $cp.disabled = true;

                $ddn.className = "form-control field-no-deco";
                $ddn.disabled = true;

                $nom.className = "form-control field-no-deco";
                $nom.disabled = true;

                $prenom.className = "form-control field-no-deco";
                $prenom.disabled = true;

                $prenom.className = "form-control field-no-deco";
                $prenom.disabled = true;

                $avatar.className = "form-control field-fnat-hidden";
                $avatar.disabled = true;

                $lblavatar.className = "form-control lbl-no-deco";
                $lblavatar.disabled = true;

                $envoyer.className = "form-control btn-no-deco";
                $envoyer.disabled = true;

                $modifier.value = "Mettre à jour le profil";
                $modifier.className = "btn btn-primary";


            } else {

                $cp.className = "form-control";
                $cp.disabled = false;

                $ddn.className = "form-control";
                $ddn.disabled = false;

                $nom.className = "form-control";
                $nom.disabled = false;

                $prenom.className = "form-control";
                $prenom.disabled = false;

                $avatar.className = "form-control";
                $avatar.disabled = false;

                $lblavatar.className = "control-label lbl-modify";
                $lblavatar.disabled = false;

                $envoyer.className = "btn btn-success";
                $envoyer.disabled = false;

                $modifier.value = "annuler les modifications";
                $modifier.className = "btn btn-danger";
            }
        };
</script>
    <script>
        function changeAvatar() {
            var $imgavatar = document.getElementById("p-mp-img-avatar");
            var $avatar = document.getElementById("user_photo");
            $imgavatar.src = "{{ asset('assets/fnat/avatar/') }}" + $avatar.value;

        };
        </script>
{% endblock javascripts %}